<style type="text/css">
body
{
	background-position:right top;
	background-color:#ffffff;

}


h2{
	color:#3b3a3a;
	margin-right: auto;
	margin: 10px;
	font-size: larger;
	line-height: normal;
	font: 20px/15px Avenir;
	text-decoration : none;
	line-height: 1;
}


a:link {color: #000000; text-decoration: underline; }
a:visited {color: #797979; text-decoration: underline; }
</style>
<style type="text/css">
h1{
	background-color: #3b84c4;
	background-position: 100% 50%;
	color:#3a3a3a;
	font-size: 15;
	margin-right: auto;
	font-variant: small-caps;
	font: 48px/36px Avenir;
	line-height: 1.5;
	margin-left: inherit;
}

h3{
	font-size: smaller;
	font: 20px/10px Avenir;
	margin: 10px;

}

highlighted {
	color:#000000;
	background-position:right bottom;
	background-color:#fff494;

}
</style>
<html>
	<meta name="viewport" content="width = device-width">
	<head>
		<script type="text/javascript" src="//use.typekit.net/nuf7pme.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<h1>Hey, I'm Matt Bettinson.</h1>
	</head>
	<body>
		<h2>I'm a developer, aspiring designer, and student. You can find more about me here:</h2>
		<h2>
			<p><a href="<%= @twitter %>">twitter</a> . <a href="<%= @github %>">github</a> . <a href="<%= @soundcloud %>">soundcloud</a> . <a href="<%= @dribbble %>">dribbble</a> . <a href="<%= @blog %>">blog</a> <br> <br>
				<highlighted> Lets <a href="<%= @email %>">get in touch</a>.

							</highlighted>
			</p>

		</h2>

	</body>
	</div>

</html>