<style type="text/css">
h2{ 
	color:#d1644c; 
	margin-right: auto;
	margin: 10px;
	font-size: larger;
	line-height: normal;
	font: 20px/15px helvetica;
}
</style>

<style type="text/css">
h1{ 
	color:#2984c8; 
	font-size: 15;
	margin-right: auto;
	font-variant: small-caps;
	font: 48px/36px helvetica;
	margin-left: inherit;
}
</style>
<style type="text/css">
alink
{
	color:#2984c8;
	font-size: large;
	font: 48px/36px helvetica;
	font-variant: small-caps;
	font-weight: 100;
	margin: 10px;
	margin-right: auto;


}
</style>
<body>
<h1>Hey, I'm Matt Bettinson.</h1>

<h2>I'm a 16 year old developer who likes to try new things. Lets get in touch.</h2>
<alink>
	<p><a href="<%= @email %>">email</a></p>
	<p><a href="<%= @twitter %>">twitter</a></p>
	<p><a href="<%= @github %>">github</a></p>
	<p><a href="<%= @soundcloud %>">soundcloud</a></p>
	<p><a href="<%= @dribbble %>">dribbble</a></p>
</alink>
</body>
